*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

.login{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  background:
  url('https://images.unsplash.com/photo-1526243741027-444d633d7365?q=80&w=1600')
  center center/cover no-repeat;

  position:relative;
}

.background-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.78);
}

.form-box{
  position:relative;
  z-index:2;

  width:450px;
  max-width:90%;

  background:rgba(15,23,42,.95);

  padding:40px;

  border-radius:20px;

  text-align:center;

  box-shadow:
  0 20px 40px rgba(0,0,0,.4);
}

.back-link{
  display:block;
  text-align:left;

  color:#38bdf8;
  text-decoration:none;

  margin-bottom:20px;
}

.logo{
  font-size:34px;
  font-weight:700;

  margin-bottom:20px;

  color:#38bdf8;
}

.form-box h1{
  color:white;
  margin-bottom:10px;
}

.form-box p{
  color:#cbd5e1;
  margin-bottom:30px;
  line-height:1.6;
}

.input-box{
  display:flex;
  align-items:center;

  background:#1e293b;

  border-radius:10px;

  padding:15px;

  margin-bottom:15px;
}

.input-box span{
  margin-right:10px;
}

.input-box input{
  width:100%;

  background:none;
  border:none;
  outline:none;

  color:white;
  font-size:15px;
}

.btn-login{
  width:100%;

  padding:15px;

  border:none;
  border-radius:10px;

  background:
  linear-gradient(135deg,#38bdf8,#2563eb);

  color:white;

  font-size:16px;
  font-weight:600;

  cursor:pointer;

  transition:.3s;
}

.btn-login:hover{
  transform:translateY(-3px);

  box-shadow:
  0 10px 20px rgba(37,99,235,.4);
}

.links{
  margin-top:25px;

  display:flex;
  justify-content:center;
  gap:12px;

  color:#cbd5e1;
}

.links a{
  color:#38bdf8;
  text-decoration:none;
  font-weight:500;
}

.links a:hover{
  text-decoration:underline;
}